/* Importing fonts
-------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');

/* -------------------------------------- */

html, body {
  height:100%;
  width:100%;
  background-color: #d4f8e8;
}

/* Sections of Layout
-------------------------------------- */
/* Generic styles for demo purposes
-------------------------------------- */

.header {
  font-family: 'Rufina', serif;
  font-size: 14pt;
}

.container {
  font-family: 'Oxygen', sans-serif;
  height: 98%;
  width: 98%;
  font-size: 10pt;
}

.container > * {
  background-color: #bedfd0;
  padding: 1em;
}

/* Typically, you wouldn't specify a height or min-height on this, instead allowing your actual content (i.e., text, images, etc.) to dictate the height of your content area. But since this example has very minimal content, I've set a min-height to mimic a taller content area. */
.content {
  min-height: 40%;
  overflow-y: scroll;
  margin: 0;
  padding: 0; 
}

/* Layout is stacked vertically by default (for narrower viewports), so give some breathing room between the sections. */
/* Select all elements where parent is a container */
.container > * {
  margin-bottom: 2%;
}

.border {
  border-style: dotted;
  border-width: 2px;
  border-color: #a9c6b9;
}

/* -------------------------------------------- */
/* Now let's apply grid for wider viewports. */
@media screen and (min-width: 40em) {
  .container > * {
    margin-bottom: 0;
  }
  /* Define the grid */
  .container {
    display: grid;
    grid-template-columns: 18% 60% 18%;
    grid-gap: 2% 2%;
    grid-template-rows: 10% auto 10%;
  }
  /* Place items on the grid */
  .header {
    grid-column: 1 / span 3;

  }
  .sidebar {
    grid-row-end: span 2;
  }
  .content {
    grid-column: 2;
  }

}

#player{
  width:200px;
}