/* styling page for main web page */
body {
	margin: 0px;
}

img {
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}

h2 {
	font-family: 'Roboto Condensed', Sans-Serif;
	font-size: 32px
}

h3 {
	font-family: 'Roboto Condensed', Sans-Serif;
	font-size: 32px
}

p {
	font-family: 'Cabin', Sans-Serif;
	font-size: 16px;
}

.header {
	background-color: Bisque;
	color: DimGrey;
	font-size: 30px;
	padding: 15px;
}

.sidebar {
	position: absolute;
	left: 0;
	top: 121px;
	bottom: 0;
	width: 160px;
	background-color: white;
}

.sidebar h3 {
	color: DimGrey;
	padding: 6px 8px 6px 16px;
	margin-bottom: 20px;
	font-size: 24px;
}

.sidebar a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
  	font-size: 20px;
  	color: #818181;
  	display: block;
  	font-family: 'Roboto Condensed', Sans-Serif;
}

.sidebar a:hover {
  	color: #f1f1f1;
}

.main {
	position: absolute;
	left: 160px;
	top:121px;
	right: 0;
	bottom: 0;
	background-color: WhiteSmoke;
	position: fixed;
}

.main div {
	padding: 20px;
	margin: 20px;
	background-color: white;
}

#div1 {
	width: 40%;
	height: 85%;
	margin-left: 50px;
	float: left;
	overflow: auto;
}

#div2 {
	width: 40%;
	height: 85%;
	margin-left: 580px;
	overflow: auto;
}
